.container{:style => "margin-left: auto; margin-right: auto; width: 50%; text-align: center; margin-top: 100px;"}
  =#image_tag "compass.png", size: '200'
  =image_tag Dir.new(Rails.root.to_s + "/app/assets/images").to_a.select{|f|    f.downcase.match(/\.jpg|\.jpeg|\.png/) }.sample, size: '150'
  .header{}
    Ipsum Nauticum
  %h4.description
    A nautical lorem ipsum generator

  .output-container
    .output-text{}
      = @final_terms
      %br
      %br
      = @paragraph
      %br
      %br
      = @paragraph2
      %br
      %br
      = @paragraph3
      %br
      %br
      = @paragraph4
      %br
      %br
      = @paragraph5

